.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #cee5d7;
}

.title {
  width: 20px;
}

.searchBar {
  backgrund-color: grey;
  color: black;
}

.loginBlock {
  float: right;
}

.loginBlock a {
  color: white;
}

.searchInput {
  padding: 2px 2px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid red;
}
.product {
  padding: 3px 4px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  background-color: white;
  border-bottom: 2px solid red;
}